main/pkgs/Wadl/userListTest.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="userListTest" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="userListTest" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_return_def_items_def_USER_ID_def" />
      <string name="ResponseActionOutput_return_def_items_def_USER_NAME_def" />
      <string name="ResponseActionOutput_return_def_items_def_companyName_def" />
      <integer name="ResponseActionOutput_return_def_items_def_REPORT_CNT_def" />
      <integer name="ResponseActionOutput_return_def_items_def_DATA_CNT_def" />
      <string name="ResponseActionOutput_return_def_items_def_regi_date_def" />
      <object name="ResponseActionOutput_return_def_items_def">
        <property name="USER_ID" type="string" />
        <property name="USER_NAME" type="string" />
        <property name="companyName" type="string" />
        <property name="REPORT_CNT" type="integer" />
        <property name="DATA_CNT" type="integer" />
        <property name="regi_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_return_def_items_def" name="ResponseActionOutput_return_def" />
      <object name="ResponseActionOutput">
        <property name="return" typeRef="ResponseActionOutput_return_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>